		<p>
			If you have any questions, feel free to <a href="mailto:support@inprice.io">email our support team</a>. We are
			always happy to getting feedback from you.
		</p>
		
		<p>
			Thanks, <br /> Inprice Support Team
		</p>
    
    <p>
      &copy; Inprice 2021. All rights reserved.
    </p>
		
		<hr />
		
		<p>
			You have received this mail since you have an active mailing
			subscription on Inprice You can always unsubscribe from our
			mailing list <a href="mailto:support@inprice.io?subject=unsubscribe">Unsubscribe</a> 
		</p>
	
	</body>
</html>
