<h1>Dear ${user},</h1>

<p>
  You have been requested a password reset. If you did not make this
  request, you can safely ignore this email. A password reset request can be
  made by anyone, and it does not indicate that your account is in any
  danger of being accessed by someone else.
</p>

<p>
  If you do actually want to reset your password, please use the button below. Otherwise, just ignore this email.
</p>

<!-- Action -->
<table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td align="center">
      <!-- Border based button https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
      <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
        <tr>
          <td align="center">
            <a href="${url}?token=${token}" class="f-fallback button button--green" target="_blank">Reset your password</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<p><strong>Please note</strong>, the validity of this email expires 10 minutes from this mailing time.</p>
