<h1>Dear ${user},</h1>

<p>You have just requested to register ${account} on Inprice</p>

<p>
  In order to complete your process,
  please copy the code below and paste it in to the input box on the activation form
</p>

<div class="f-fallback align-center"><strong>Activation Code</strong></div>

<table class="attributes" width="100%" cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td class="attributes_content">
      <table width="100%" cellpadding="0" cellspacing="0" role="presentation">
        <tr>
          <td class="attributes_item">
            <h1 class="align-center">${token}</h1>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<p><strong>Please note</strong>, this code will expire after 10 minutes from this mailing time.</p>
