<h1>Dear ${user},</h1>

<p>
  We are sorry to see you cancelling your subscription. We would like to know the reason
  behind your decision <a href="mailto:support@inprice.io?subject=Cancelling">please let us know</a>.
</p>

<p>
  We would like to say that the subscription of your account -${account}-
  has been successfuly
  <strong>CANCELLED</strong> by you. You will not be charged until you want
  to subscribe again.
</p>

<p>
  <strong>Please note that</strong> no refund even if your subscription has
  more time to end. However, you are allowed to use the platform till the
  end of subscription date. Additionally, you are always welcome if you want
  to subscribe the platform again.
</p>
